<% include ../partials/header %>

<div id="nC" class="ui container">
<div class="ui form">
<form action="/stadiums/<%= stadium._id %>/comments" method="POST">
<p class="login">Add New Comment to <strong><%= stadium.name %></strong></p>
	<div class="field">
		<textarea name="comments[text]" placeholder="What's on your mind?" required></textarea>
	</div>
	<div class="field">
		<button class="ui green button">Submit</button>
	</div>
</form>
<a href="/stadiums/<%= stadium._id %>">Go Back</a>
</div>
</div>
</div>


<% include ../partials/footer %>